
body{
    background-color: #DDE6ED;
    margin-top: 25px;
}
.contenier{
margin-right: 30px;
margin-left: 30px;
}
table{
    margin-top: 15px;
    border-radius: 10px; /* Ajoutez le rayon de coin souhaité (par exemple, 10px) */
    overflow: hidden; /* Pour éviter que le contenu dépasse les coins arrondis */
}
/* th, td {
    padding: 10px; /* Ajoutez un remplissage pour les cellules du tableau 
    text-align: center; 
} */
.btn-add{
    background-color: #19A7CE;
    border-radius: 5px;
    color: white;
    padding: 5px;
    border: 0.2px lightgray;
}
.d-flex{
    
    display: flex;
    justify-content: space-between;
}

.form{
    width: 30%;
    border-radius: 5px;

}


.alert-delete{
    display: none;

} 
.thead{
    background-color: #E4F1FF;
}
/* Styles for the modal */
.modal {
    position: absolute;
     /* z-index: 10;  */
    background-color: rgba(160, 156, 156, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  /* Styles for the modal background */
  .modal-background {
    position: absolute;
    inset: 0;
    background-color: rgba(113, 112, 112, 0.75);
  }
  
  /* Styles for the modal content */
  .modal-content {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 31rem;
    margin: 2rem;
    top: 0;
  }
  
  /* Styles for the modal header */
  .modal-header {
    padding: 0.5rem;
    border-bottom: 0px solid #e2e8f0;
  }
  
  /* Styles for the modal title */
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    display: flex;
  justify-content: space-around;
 
   
  }
  
  /* Styles for the modal body */
  .modal-body {
    padding: 0.7rem;
    font-size: 0.875rem;
    color: #666;
  }
  
  /* Styles for the modal footer */
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0px solid #a2a2a2;
    background-color: #F0F0F0;
  }
  
  /* Styles for the buttons */
  .btn-D ,.btn-update,.btn-show{
    padding: 0.5rem 0.2rem;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
  }

 
  
  
  .btn-danger {
    background-color: #e53e3e;
    color: #fff;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c53030;
  }
  
  .btn-secondary {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    margin-left: 1rem;
  }
  
  .btn-secondary:hover {
    background-color: #f7fafc;
    
  }
  .custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #FECACA; /* Couleur de fond */
    border-radius: 50%; /* Pour obtenir un cercle */
  }
  
  .custom-svg {
    width: 16px; /* Ajustez la taille de l'icône */
    height: 16px;
    color: #DC2626; /* Couleur de l'icône */
  }
  
 /* Styles pour la pagination */
 .footer{

  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  
 }
 .pagination {
  display: flex;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 0 0px;
  color: #333;
  background-color: #fff;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .prev,
.pagination .next {
  flex: 1;
  border: 0px;
  color: #333;
  background-color: #fff;
}
.formbg{
  display:  none;
  background-color: rgba(113, 112, 112, 0.75);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;

}
.formContact{
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 95rem;
    width: 38%;
    margin: 2rem;
    top: 0;
    padding: 15px;
    left: 10%;
    display: none;
}

.formContact .child{

  margin-left: 20px; /*Vous pouvez ajuster la valeur (en pixels) selon l'espace souhaité */
  margin-top: 15px;
}

.formContact .child_nom{
  display: flex;
  

  }
  .child_nom .child input{
    width: 100%;
  }
  .formContact .child input ,textarea{
    width: 100%;
    border-radius: 5px;
  }
  .formContact .child,select{
    border-radius: 5px;
  }

.formContact .child3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}

.formContact .child3 div:first-child {
  flex: 1; /* Le premier div prendra autant d'espace que possible */
}

.formContact .child3 div:last-child {
  flex: 2; /* Le deuxième div sera deux fois plus grand que le premier */
  margin-left: 20px; /* Ajouter de l'espace entre les divs */
}

.formContact .child3 input[type="text"],
.formContact .child3 input[type="number"] {
  width: 100%;
  border-radius: 5px;
}


  .formContact .child select{
    width: 50%;
    height: 30px;
  }
  .formFooter{
    height: 70px;
    background-color: #F0F0F0;
    margin-bottom: -15px;
    width: 100;
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .formFooter input{
    padding: 8px;
    float: right;
    margin-left: 5px;
    width: 95px;
    border-radius: 5px;
  }
  .formFooter input[type="submit"]{
    background-color: #19A7CE;
    margin-top: 10px;
    margin-right: 20px;
   
  }
  .formFooter input[type="reset"]{
    margin-top: 10px;
   
  }
  
  .client {
    background-color: #B0D9B1; /* Couleur pour "Client" */
    padding: 5px;
}

.lead {
    background-color: #8ECDDD; /* Couleur pour "Lead" */
}

.prospect {
    background-color: #FFCF9D; /* Couleur pour "Prospect" */
}

.autre {
    background-color: #c53030;/* Styles pour les autres statuts non spécifiés */
}


.client , .autre,.lead,.prospect{
  border-radius: 5px;
  padding: 2px;
}